@font-face {
    font-family: Tommy;
    src: url(../fontes/MADE\ Tommy\ Soft\ Regular.otf) format('Opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Tommy;
    src: url(../fontes/MADE\ Tommy\ Soft\ Bold.otf) format('Opentype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Tommy', sans-serif;
    width: 100%;
    margin: auto;
    font-size: 16px;
    background: #F0F0F0 url(../img/background.jpg);
    position: relative;
}

/* Cabeçalho */
.topo1 {
    background-color: #2C2C2C;
    color: #969696;
    height: 46px;
}

.topo1 img {
    height: 1em;
    display: inline-block;
    position: relative;
    top: 3px;
}

.topo1 p {
    display: inline;
    font-size: 1em;
    margin-right: 70px;
}

.topo1 a, .topo1 a:visited {
    color: #969696;
}

.cont-top1 {
    width: 80%;
    max-width: 1440px;
    display: flex;
    margin: auto;
    padding-left: 20px;
}

.cont-top1 div {
    line-height: 46px;
}

/* Logo e Navbar */

.logo {
    display: inline-block;
    width: 100px;
}

.logo img {
    height: 40px;
}

.logo-line {
    background-color: #EF4136;
    height: 2px;
    width: 1920px;
    border: none;
    position: relative;
    top: -9px;
    transform: translateX(-92.6%);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #015EC6;
    height: 80px;
}
  
.nav-list {
    list-style: none;
    display: flex;
}
  
.nav-list li {
    margin-left: 32px;
}

.nav-list a {
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: underline;
    text-decoration-color: #EF4136;
    text-decoration-thickness: 3px;
    transition: text-decoration 0.2s;
}

.nav-list a:hover {
    text-decoration-color: white;
}
  
.mobile-menu {
    display: none;
    cursor: pointer;
}
  
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.banner {
    text-align: center;
}

.banner img {
    width: 100%;
    max-width: 1920px;
}

/* Menu hamburguer */

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
}

@media screen and (max-width: 900px) {
    .nav-list {
        position: absolute;
        top: 80px;
        right: 0;
        width: 100vw;
        height: 60vh;
        background: #015EC6;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.400);
      }
      .nav-list li {
        margin-left: 0;
        opacity: 0;
      }
      .mobile-menu {
        display: block;
      }

      .topo1 {
        display: none;
      }
}

.nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

/*************************** 
    Fim do cabeçalho
****************************/

.red {
    color: #EF4136;
}

/* Estilo conteúdo */

.conteudo {
    margin-top: 50px;
}

/* Título */

.titulo {
    max-width: 380px;
    width: 380px;
    text-align: center;
    margin: 0 auto 30px;
}

.titulo h1 {
    font-size: 1.6em;
    color: #015EC6;
}

.title-line {
    position: relative;
    width: 1920px;
    height: 2px;
    background-color: #EF4136;
    border: none;
    transform: translateX(-93%);
    z-index: -1;
}

@media screen and (max-width: 900px) {
    .titulo h1 {
        font-size: 1.2em;
    }

    .title-line {
        left: 6%;
    }
}

/* Estilo da aba ideal */

.cont-ideal {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cont-ideal div {
    max-height: 500px;
    width: 40%;
    align-content: center;
    text-align: center;
}

.cont-img1 {
    position: relative;
}

.background {
    height: 120%;
    max-height: 500px;
    width: 1920px;
    border: none;
    border-radius: 0 250px 250px 0;
    background-color: #EF4136;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    z-index: -1;
}

.img-desk {
    max-width: 390px;
    width: 70%;
}

.img-ideal {
    max-height: 400px;
    width: 90%;
}

@media screen and (max-width: 900px) {
    .cont-ideal {
        flex-direction: column;
    }

    .cont-ideal div {
        width: auto;
    }

    .cont-img1 {
        margin-bottom: 70px;
    }
}

/* Estilo aba mobile */

.cont-mobile {
    margin-top: 80px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.cont-mobile div {
    max-height: 500px;
    width: 40%;
    align-content: center;
}

.cont-img2 {
    position: relative;
    text-align: center;
}

.background2 {
    height: 120%;
    max-height: 500px;
    width: 1920px;
    border: none;
    border-radius: 250px 0 0 250px;
    background-color: #015EC6;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    z-index: -1;
}

.img-mob {
    max-width: 390px;
    width: 70%;
}

@media screen and (max-width: 900px) {
    .cont-mobile {
        flex-direction: column;
    }

    .cont-mobile div {
        width: auto;
    }

    .cont-img2 {
        margin-bottom: 70px;
    }
}

.mobile-vantagens {
    color: #002A5F;
    text-align: left;
    padding: 20px;
    width: 90%;
    max-width: 480px;
}

.mobile-vantagens p {
    margin-top: 10px;
    font-size: 22px;
}

.mobile-card {
    margin-top: 10px;
    display: flex;
}

.mobile-card p {
    color: white;
    background-color: #015EC6;
    padding: 8px;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 18px;
}

/* Estilo da aba benefícios */

.beneficios {
    margin: 80px 0;
    text-align: center;
    color: #002A5F;
}

.cont-beneficios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1440px;
    margin: auto;
}

.cont-beneficios img {
    width: 26%;
    min-width: 300px;
    margin: 20px 10px 0;
}

@media screen and (max-width: 425px) {
    .cont-beneficios img {
        margin: 20px 0 0;
        min-width: 0;
        width: 100%;
    }
}

/* Estilo rodapé */ 

.cont-info {
    height: 280px;
    background-color: #00448F;
    align-content: center;
}

.rod-info {
    color: #D9D9D9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.suporte {
    height: 162px;
    text-align: center;
}

.suporte img {
    width: 140px;
    height: 140px;
    border-radius: 10px;
    border: 1px solid #015EC6;
}

.redes {
    height: 162px;
    text-align: center;
    margin: 0 160px;
}

.redes img {
    border: 1px solid #015EC6;
    border-radius: 10px;
    margin: 10px;
}

.contato{
    height: 162px;
}

.contato a {
    color: #D9D9D9;
}

.contato a > p {
    display: inline;
}

.contato img {
    height: 16px;
}

.endereco {
    margin-top: 30px;
}

.direitos {
    height: 50px;
    background-color: #002A5F;
    color: white;
    text-align: center;
    align-content: center;
}

.direitos p {
    display: inline;
}

.logow {
    height: 16px;
    position: absolute;
    right: 20px ;
}

@media screen and (max-width: 1440px) {
    .cont-info {
        height: 240px;
    }

    .rod-info {
        max-width: 640px;
        width: 80%;
        margin: auto;
    }

    .suporte img {
        width: 110px;
        height: 110px;
    }

    .redes {
        margin: 0 80px;
    }

    .redes img {
        width: 50px;
        margin: 5px;
    }

    .direitos {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 900px) {
    .cont-info {
        height: auto;
    }

    .rod-info {
        flex-direction: column-reverse;
    }

    .rod-info div {
        height: auto;
        text-align: center;
        padding: 30px 0;
    }

    .direitos {
        height: 30px;
        font-size: 0.6em;
    }

    .logow {
        height: 0.7em;
    }
}

/*********************
    Fim estilo rodapé
**********************/